# Ignore build output folders
prj/FrL_Network/
prj/FrL_Network_Master/
prj/B91_ble_sample/
prj/B91_module/
prj/B91_*/

# Ignore temporary files
*.log
*.tmp
*.bak

# Ignore IDE-specific files (optional)
.settings/
*.launch
*.swp
*.swo
*.swn
*.DS_Store
